.body{
	width: 100%;
	background: url(../img/Courseware.png) top no-repeat;
	padding-top: 160px;
}

.courseWare{
	width: 1024px;
	margin: 0 auto;
	overflow: hidden;
	font-family: "Î¢ÈíÑÅºÚ";
	color: #777777;
	padding-bottom: 50px;
}

.courseSea{
	float: left;
	padding-top: 20px;
	padding-right: 60px;
}

#form1{
	width: 242px;
}

#form1>input{
	font-size: 16px;
	color: #919191;
	font-family: "Î¢ÈíÑÅºÚ";
	width: 230px;
	height: 40px;
	padding-left: 10px;
	margin-top: 10px;
	line-height: 40px;
	border: 1px solid #c6c6c6;
}

#form1>select{
	width: 242px;
	height: 40px;
	padding-left: 10px;
	margin-top: 10px;
	font-size: 16px;
	color: #919191;
	font-family: "Î¢ÈíÑÅºÚ";
	line-height: 40px;
}

#form1>input::-webkit-input-placeholder{
	font-size: 16px;
	color: #919191;
	font-family: "Î¢ÈíÑÅºÚ";
}

#form1>#submit{
	width: 244px;
	height: 40px;
	margin-top: 20px;
	text-align: center;
	line-height: 40px;
	background-color: #262334;
	color: #FFFFFF;
}

.courseWareList{
	width: 545px;
	padding-top: 20px;
	padding-left: 40px;
	float: left;
}

.courseWareList>.courseCon{
	width: 100%;
	color: #777777;
	overflow: hidden;
	border-bottom: 1px solid #f3eeff;
}

.courseWareList>.courseCon>.fileLogo{
	width: 65px;
	height: 65px;
	float: left;
	margin-right: 10px;
}

.courseWareList>.courseCon>.file,
.courseWareList>.courseCon>.fileDetail{
	float: left;
	width: 470px;
}

.fileName{
	font-size: 20px;
}

.fileTime{
	font-size: 12px;
	float: right;
	vertical-align: text-top;
}

.courseWareList>.courseCon>.fileDetail{
	font-size: 16px;
	line-height: 47.5px;
	width: 470px;
	float: left;
	line-height: 47.5px;
}

.fileNo{
	margin-right: 25px;
}

.fileBelong{
	margin-right: 30px;
}

.more{
	display: block;
	width: 65px;
	height: 24px;
	border: 1px;
	font-size: 12px;
	border: 1px solid #ababab;
	float: right;
	text-align: center;
	line-height: 24px;
	color: #777777;
	margin-top: 10px;
}

.page{
	height: 24px;
	float: right;
	margin-top: 80px;
}

.page>a{
	color: #5e5e5e;
	display: block;
	float: right;
	height: 100%;
	border: 1px solid #262334;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
	margin-left: 15px;
}

.page>a:hover{
	background-color: #e9e9ea;
}

.page>.curpage{
	margin-left: 20px;
	margin-right: 5px;
	display: block;
	float: right;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	font-family: "Î¢ÈíÑÅºÚ";
	color: #919191;
	border: 0;
}

.page>.first,
.page>.last{
	width: 30px;
}

.page>.pre,
.page>.next{
	width: 20px;
}
