.header{
	width: 100%;
	min-height: 500px;
	min-width: 1250px;
	background: url(../img/bannerBg.png) center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.header>.title{
	z-index: 10000;
	position: fixed;
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 16px;
	color: #777777;
	font-family: "Î¢ÈíÑÅºÚ",sans-serif;
	line-height: 60px;
	transition: background-color .2s linear,height .2s linear, line-height .2s linear;
}

.header>.title>.title_left{
	float: left;
	height: 100%;
	min-width: 500px;
	width: 30%;
	margin-left: 15%;
}

.header>.title>.title_left>.logo{
	display: block;
	float: left;
	width: 10%;
	height: 100%;
	margin: 0 2.5%;
	background: url(../img/title_logo.png) center no-repeat;
}

.header>.title>.title_left>ul{
	width: 85%;
	min-width: 400px;
	overflow: hidden;
}

.header>.title>.title_left>ul>li{
	float: left;
	width: 16.6666%;
	height: 100%;
}

.header>.title>.title_left>ul>li:hover{
	color: #FFFFFF;
	cursor: pointer;
}

.titleActive{
	color: #FFFFFF;
}

.header>.title>.title_right{
	float: right;
	height: 100%;
	min-width: 300px;
	width: 40%;
	margin-right: 5%;
}

.header>.title>.title_right>.stauts>div:hover{
	color: #FFFFFF;
	cursor: pointer;
}

.header>.title>.title_right div{
	float: right;
}

.header>.title>.title_right>.stauts{
	width: 24%;
}

.header>.title>.title_right>.stauts>.reg{
	width: 50%;
	height: 100%;
}

.header>.title>.title_right>.stauts>.login{
	width: 50%;
	height: 100%;
}

.header>.title>.title_right>.stauts>.userCon{
	width: 100%;
	height: 60px;
	overflow: hidden;
	transition: height .2s ease-in;
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 16px;
}

.header>.title>.title_right>.stauts>.userCon:hover{
	height: 140px;
	background-color: #312e40;
}

.header>.title>.title_right>.stauts>.userCon>.userLogo{
	width: 50%;
	height: 60px;
	background: url(../img/userLogo.png) center no-repeat;
	transition: height .2s linear;
}

.header>.title>.title_right>.stauts>.userCon>.userName{
	width: 50%;
	height: 60px;
	
}

.header>.title>.title_right>.stauts>.userCon>ul{
	clear: both;
}

.header>.title>.title_right>.stauts>.userCon>ul>li{
	line-height: 40px;
	display: block;	
	height: 40px;
}

.header>.title>.title_right>.stauts>.userCon>ul>li:hover{
	background-color: #1c1a2a;
}

.header>.title>.title_right>.stauts>.userCon>ul>li:hover a{
	color: #FFFFFF;
}

.header>.title>.title_right>.stauts>.userCon>ul>li>a{
	color: #777777;
}
.header>.title>.title_right>.mes{
	width: 12%;
	height: 100%;
	background: url(../img/mes_icon.png) center no-repeat;
	opacity: .2;
	filter: alpha(opacity=20);
}

.header>.title>.title_right>.search{
	width: 12%;
	height: 100%;
	opacity: .2;
	background-color: #262334;
	background: url(../img/searchLogo.png) center no-repeat;
	transition: opacity .4s linear;
}

.header>.title>.title_right>.mes:hover,
.header>.title>.title_right>.search:hover{
	opacity: 1;
	filter: alpha(opacity=100);
	cursor: pointer;
}

.searchBox{
	height: 30px;
	margin-left: 15%;
	border: 0;
	background-color: #262334;
	border-bottom: 2px solid #FFFFFF;
	outline: none;
	color: #FFFFFF;
	padding-left: 2%;
	width: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: width .5s ease-in, opacity .4s linear;
}

.searchBtnShow{
	width: 37%;
	opacity: 1;	
	filter: alpha(opacity=100);
}

.header>.bnTitle{
	height: 185px;
	margin: 9% 0 0 25%;
}

.header>.bnBgTitle{
	height: 185px;
	margin: 9% 0 0 25%;
}

.section1{
	width: 820px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.section1 div{
	font-family: "Î¢ÈíÑÅºÚ";
	float: left;
}

.section1 .new{
	display: table;
	width: 400px;
	transition: box-shadow .3s linear;
}

.section1 .new:hover{
	box-shadow: 0 0 200px 20px #262334 inset;
}

.section1 .newCon{
	transition: opacity .2s linear;
	text-align: center;
	width: 100%;
	height: 70%;
	margin: 10% 0;
	color: #FFFFFF;
	font-size: 20px;
	opacity: 0;
	filter: alpha(opacity=0);
}

.section1 .newCon:hover{
	opacity: .8;
	filter: alpha(opacity=80);
}

.section1>.new_title{
	width: 320px;
	margin: 110px 20px 0 0;
}

.section1>.new_title>.new_title1{
	color: #5e5e5e;
	font-size: 48px;
}

.section1>.new_title>.new_title2{
	color: #5e5e5e;
	font-size: 18px;
	margin-bottom: 3px;
}

.section1>.new_01{
	margin-top: 110px;
	width: 480px;
	height: 270px;
}

.section1>.new_02{
	float: right;
	margin-top: 20px;
	width: 400px;
	height: 225px;
}

.section1>.new_03{
	float: left;
	margin-top: 20px;
	width: 400px;
	height: 225px;
}

.section1>.new_title>.new_04{
	width: 320px;
	height: 180px;
}

.section1Btn{
	position: relative;
	left: 50%;
	margin-left: -87px;
	margin-top: 40px;
	margin-bottom: 95px;
	color: #5e5e5e;
	border: 2px solid #dfdfdf;
}

.section2{
	background: url(../img/section2Bg.png) center no-repeat;
	background-size: cover;
	color: #FFFFFF;
	font-family: "Î¢ÈíÑÅºÚ";
	text-align: center;
	height: 720px;
	width: 100%;
}

.section2>.tecTitle{
	width: 500px;
	margin: 0 auto;
	padding-top: 60px;
}

.section2>.tecTitle>.tec_title1{
	padding-bottom: 5px;
	font-size: 48px;
}

.section2>.tecTitle>.tec_title2{
	font-size: 18px;	
}

.section2>.tecsPicCon{
	width: 960px;
	height: 315px;
	margin: 60px auto 80px auto;
}

.section2>.tecsPicCon>.tecPicCon{
	float: left;
	width: 200px;
	height: 315px;
	padding: 0 20px;
}

.section2>.tecsPicCon>.tecPicCon>img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.section2>.tecsPicCon>.tecPicCon>.tecName{
	font-size: 24px;
}

.section2Btn{
	border: 2px solid #dfdfdf;
	color: #e2e2e2;
}

.section3{
	width: 100%;
	height: 780px;
}

.section3>.laptop{
	width: 908px;
	height: 602px;
	float: left;
	margin-top: 100px;
}

.section3>.section3_detail{
	width: 400px;
	font-size: 18px;
	float: left;
	font-family: "Î¢ÈíÑÅºÚ";
	color: #5E5E5E;
	margin-top: 155px;
}

.section3>.section3_detail>p{
	font-size: 48px;
	padding-bottom: 25px;
}

.section3>.section3_detail>.section3Btn{
	color: #5E5E5E;
	border: 2px solid #dfdfdf;
	margin: 0;
	margin-top: 20px;
	
}

.footer{
	width: 100%;
	height: 390px;
	background: url(../img/footer.png) center no-repeat;
	background-size: cover;
	color: #FFFFFF;
	font-family: "Î¢ÈíÑÅºÚ";
}

.footer>.footerCon{
	position: relative;
	width: 550px;
	height: 325px;
	padding-top: 65px;
	margin-left: 25%;
}

.footer>.footerCon>div{
	margin: 0 0 30px 0;
	overflow: hidden;
}

.footer>.footerCon>div>span{
	display: block;
	float: left;
	margin-right: 40px;
}

.footer>.footerCon>div>ul{
	float: left;
	width: 450px;
	display: block;
}
.footer>.footerCon>div>ul>li{ 
	list-style: disc;
	float: left;
	margin-right: 50px;
}
.copyright{
	position: absolute;
	bottom: 30px;
}

@media only screen and (max-width: 1440px) {
	.section3>.laptop{
		width: 618px;
		height: 451.5px;
	}
	
	.section3>.section3_detail{
		font-size: 15px;
	}
	
	.section3>.section3_detail>p{
		font-size: 48px;
		padding-bottom: 25px;
	}
	
	.section3>.section3_detail>.section3Btn{
		width: 140px;
	}
	
	.section3{
		height: 629.5px;
	}
	
	.footer>.footerCon{
		margin-left: 15%;
	}
}

