.teachCon{
	padding-top: 180px;
	width: 100%;
	background: url(../img/teach.png) top no-repeat;
	padding-bottom: 120px;
}

.teachRowCon{
	width: 1024px;
	overflow: hidden;
	margin: 0 auto;
}

.teach{
	float: left;
	margin-top: 50px;
	margin-left: 40px;
}

.teach>img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.teach>.teachName{
	font-size: 24px;
	color: #777777;
	font-family: "Î¢ÈíÑÅºÚ";
	text-align: center;
	margin-top: 20px;
}
